@tailwind base;
@tailwind components;
@tailwind utilities;

.styleQ {
  clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
}

.style {
  width: 161.936px;
  height: 18.351px;
  justify-content: center;
  color: #fff;
  font-family: IBM Plex Mono;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button {
  transition: all 0.2s ease;
}
.button:active {
  transform: scale(0.95);
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 5px;
  margin: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b2b2; /* Color of the scrollbar handle */
  border-radius: 10px;
  height: 5px;
}

/* Handle on hover */
